
.app {
  display: flex;
  flex-direction: column; 
  height: 100vh;
  background-color: #1e1e1e;
  color: white;
  overflow: hidden; 
}


.content {
  display: flex;
  flex: 1;
  overflow: hidden; 
}


.sidebar {
  background-color: #222;
  padding: 1rem;
  box-sizing: border-box;
  overflow: hidden; 
}


.main-content {
  flex: 1;
  padding: 1rem;
  box-sizing: border-box;
  overflow: hidden; 
  display: flex;  
  flex-direction: column;
}