.navbar {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  padding: 1rem 2rem;
  background-color: #ffc107e6; 
  color: #000; 
  border-bottom: 1px solid #444;
  position: sticky;
  top: 0;
  z-index: 1000;
}


.navbar-left {
  display: flex;
  align-items: center; 
  gap: 0.5rem;
}

.navbar-logo {
  width: 50px; 
  height: 50px; 
}

.navbar-title {
  font-size: 1.5rem;
  font-weight: bold;
  white-space: nowrap; 
}

.navbar-right {
  display: flex;
  align-items: center;
  gap: 1rem; 
}

.status {
  color: #177f42; 
  font-weight: bold;
}


.status.active {
  color: #2ecc71; 
}

.status.inactive {
  color: #e74c3c; 
}

.pause-button {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background-color: #f1c40f; 
  color: #000;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.pause-button:hover {
  background-color: #d4ac0d;
  transform: scale(1.05);
}

.pause-button:active {
  background-color: #c0900c;
}
.user {
  font-weight: bold;
}