.sidebar {
  padding: 1rem;
  background-color: #1e1e1e; 
  color: white;
}

.sidebar h4 {
  font-size: 1rem;
  font-weight: bold;
  color: #ccc; 
  margin-bottom: 0.5rem; 
  text-transform: uppercase;
}

.sidebar hr {
  border: none;
  border-top: 1px solid #444;
  margin: 0.5rem 0; 
}


.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  margin: 10px 0;
}

.sidebar a {
  text-decoration: none;
  color: white;
  display: flex; 
  align-items: center; 
  gap: 10px; 
  padding: 10px; 
  border-radius: 5px; 
  transition: background-color 0.3s ease; 
}

.sidebar a:hover {
  background-color: #2c2c2c; 
}

.sidebar a.active {
  font-weight: bold;
  color: #f1c40f;
  background-color: #444; 
  border-top: 4px solid #f1c40f; 
  border-bottom: none; 
}

.sidebar .icon {
  font-size: 1.2rem;
  color: inherit;
}